hr {
  border: 0;
  border-top: var(--border-med) solid var(--secondary-dark);
  width: 75%;
  margin: 5% auto;
}
nav {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 150%;
  margin: 3% auto;
  padding: 3px;
  width: 100%;
}
nav a {
  color: var(--primary-dark);
  margin: 0.5% 2%;
  padding: 1px;
  width: auto;
  opacity: 0.7;
  border-bottom: var(--border-lg) solid transparent;
}
nav a:hover {
  opacity: 1;
  border: none;
  text-decoration: none;
  transition: var(--primary-transition-duration) var(--transition-type);
}
nav a:not(:hover) {
  border: none;
  transition: var(--primary-transition-duration) var(--transition-type)
}
nav a:after {
  display: block;
  border-bottom: var(--border-lg) solid var(--highlight);
  transform: scaleX(0);
  transition: var(--primary-transition-duration) var(--transition-type);
  transform-origin: 50% 50%;
  content: '';
}
nav a:hover:after { transform: scaleX(1) }
ol, ul {
  font-size: 120%;
  margin: auto -2%;
}
li { margin: 1% auto }
::-webkit-input-placeholder { color: var(--primary-dark) }
::-ms-input-placeholder { color: var(--primary-dark) }
::placeholder {
  color: var(--primary-dark);
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track { background: var(--primary-light) }
::-webkit-scrollbar-thumb { background: var(--secondary-dark) }
::-webkit-scrollbar-thumb:hover { background: var(--secondary-dark) }
::-moz-selection {
  background-color: var(--secondary-dark);
  color: var(--primary-light);
}
::selection {
  background-color: var(--secondary-dark);
  color: var(--primary-light);
}