hr {
  border: 0;
  border-top: var(--border-med) solid var(--tertiary);
  width: 75%;
  margin: 4% auto;
}
nav {
  display: flex;
  justify-content: center;
  font-family: var(--heading-font);
  text-align: center;
  font-size: 150%;
  margin: 2% auto;
  padding: 3px;
  width: 100%;
}
nav a {
  color: var(--secondary);
  font-family: var(--heading-font);
  margin: 0.5% 2%;
  padding: 1px;
  width: auto;
  opacity: 0.7;
  border-bottom: var(--border-lg) solid transparent;
}
nav a:hover {
  opacity: 1;
  border: none;
  text-decoration: none;
  transition: var(--transition-duration) var(--transition-type);
}
nav a:not(:hover) {
  border: none;
  transition: var(--transition-duration) var(--transition-type)
}
nav a:after {
  display: block;
  border-bottom: var(--border-lg) solid var(--highlight);
  transform: scaleX(0);
  transition: var(--transition-duration) var(--transition-type);
  transform-origin: 50% 50%;
  content: '';
}
nav a:hover:after { transform: scaleX(1) }
ol, ul {
  font-size: 120%;
  margin: auto;
}
li {
  font-family: var(--text-font);
}
ul li { margin: 1% }
ol li { margin: 1% 2.5% }