table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #5b626a;
  padding: 3px 10px;
  margin: 3% auto;
  text-align: center;
}
td, th {
  padding: 8px;
  text-align: left;
}
th { border-bottom: 1px solid #5b626a }
tr:nth-child(even) {
  background-color: #5b626a;
  color: #fafafa;
}