h1 {
  font-weight: 500;
  font-size: 28pt;
}
h2 { font-size: 22pt }
h3 { font-size: 18pt }
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  margin: 0.75% auto 1.5% auto;
}
h4 { font-size: 14pt }
h5 { font-size: 10pt }
h2, h3, h4, h5, h6 { font-weight: normal }
p {
  font-family: var(--text-font);
  font-size: 12pt;
  margin: 1.5% auto;
}
a {
  color: var(--highlight);
  text-decoration: none;
  border-bottom: var(--border-med) solid transparent;
  font-family: var(--text-font);
  font-size: inherit;
  margin: auto;
}
a:hover {
  border-bottom: var(--border-med) solid var(--highlight);
  transition: var(--transition-duration) var(--transition-type);
}
a:not(:hover) {transition: var(--transition-duration) var(--transition-type)}
i, em { font-size: inherit }
strong, b {
  font-weight: bolder;
  margin: 0;
}
small, sub, sup {
  font-size: 75%;
  font-weight: normal;
  margin: 0;
}
kbd {
  border: var(--border-sm) solid var(--secondary);
  padding: 1px 5px;
}
code {
  max-width: 100%;
  padding: 4px;
  margin: auto;
  background-color: var(--secondary);
  color: var(--highlight);
}
blockquote, q {
  border-left: var(--border-lg) solid var(--tertiary);
  margin: 3% auto;
  padding: 5px 15px;
  width: 100%;
  font-family: var(--text-font);
}
cite::before { content: '- ' }
cite {
  padding: 4px 0 4px 8px;
  margin: auto;
  display: block;
}