h1 {
  font-weight: 700;
  font-size: 2.75rem;
  border-bottom: 3px solid #383C41;
}
h1:hover {
  color: mediumspringgreen;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
h1:not(:hover) {
  color: #383C41;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
h2 {
  font-size: 2.25rem;
  font-weight: 600;
}
h3 {
  font-size: 1.75rem;
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.75% auto 1.5% auto;
}
h4 { font-size: 1.25rem }
h5 { font-size: 1rem }
h4, h5, h6 { font-weight: normal }
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 105%;
  margin: 1.5% auto;
}
a {
  color: mediumspringgreen;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-size: inherit;
  margin: auto;
}
a:hover {
  border-bottom: 2px solid mediumspringgreen;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
a:not(:hover) {transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)}
i, em {
  font-size: inherit;
}
strong, b {
  font-weight: bolder;
  margin: 0;
}
small, sub, sup {
  font-size: 75%;
  font-weight: normal;
  margin: 0;
}
kbd {
  border: 1px solid #383C41;
  padding: 1px 5px;
}
code {
  max-width: 100%;
  padding: 2px 4px;
  margin: 3% auto;
  background-color: #383C41;
  color: mediumspringgreen;
}
blockquote, q {
  border: 3px solid #5b626a;
  text-align: center;
  margin: 3% auto;
  padding: 10px 15px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
cite::before { content: '-' }
cite {
  padding: 8px;
  margin: auto;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}