h1 {
  font-weight: 700;
  font-size: 2.75rem;
  border-bottom: var(--border-lg) solid var(--primary-dark);
}
h1:hover {
  color: var(--highlight);
  transition: var(--primary-transition-duration) var(--transition-type);
}
h1:not(:hover) { transition: var(--primary-transition-duration) var(--transition-type) }
h2 {
  font-size: 2.25rem;
  font-weight: 600;
}
h3 {
  font-size: 1.75rem;
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.75% auto 1.5% auto;
}
h4 { font-size: 1.25rem }
h5 { font-size: 1rem }
h4, h5, h6 { font-weight: normal }
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 105%;
  margin: 1.5% auto;
}
a {
  color: var(--highlight);
  text-decoration: none;
  border-bottom: var(--border-med) solid transparent;
  font-size: inherit;
  margin: auto;
}
a:hover {
  border-bottom: var(--border-med) solid var(--highlight);
  transition: var(--primary-transition-duration) var(--transition-type);
}
a:not(:hover) {transition: var(--primary-transition-duration) var(--transition-type)}
i, em { font-size: inherit }
strong, b {
  font-weight: bolder;
  margin: 0;
}
small, sub, sup {
  font-size: 75%;
  font-weight: normal;
  margin: 0;
}
kbd {
  border: var(--border-sm) solid var(--primary-dark);
  padding: 1px 5px;
}
code {
  max-width: 100%;
  padding: 2px 4px;
  margin: 3% auto;
  background-color: var(--primary-dark);
  color: var(--highlight);
}
blockquote, q {
  border-left: var(--border-lg) solid var(--secondary-dark);
  margin: 3% auto;
  padding: 5px 15px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
cite::before { content: '- ' }
cite {
  padding: 4px 0 4px 8px;
  margin: auto;
  display: block;
}