:root {
	--highlight: #16c581;

	--primary: #fafafa;
	--secondary: #676767;
	--tertiary: #e1e1e1;

	--border-lg: 3px;
	--border-med: 2px;
	--border-sm: 1px;

	--font-lg: 16pt;
	--font-med: 14pt;
	--font-sm: 12pt;

	--text-font: "Consolas", monospace;
	--heading-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	--transition-type: cubic-bezier(0.54, 0.39, 0.37, 0.98);
	--transition-duration: 0.2s;
}
HTML {
	scroll-behavior: smooth;
	border-top: var(--border-med) solid var(--highlight);
	margin: 0;
}
Body {
	max-width: 1000px;
	margin: 0.5% auto;
	padding: 0 10px;
	font-display: auto;
	font-weight: 600;
	line-height: 1.4;
	background: var(--primary);
	background-image: radial-gradient(var(--tertiary) 1px, transparent 0);
	background-size: 35px 35px;
	color: var(--secondary);
	text-rendering: optimizeLegibility;
}
* {
	transition: var(--transition-duration) var(--transition-type);
	box-sizing: border-box;
	margin: 1% auto;
}
h1 {
	font-weight: 500;
	font-size: 28pt;
}
h2 {
	font-size: 22pt;
}
h3 {
	font-size: 18pt;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	margin: 0.75% auto 1.5% auto;
}
h4 {
	font-size: var(--font-med);
}
h5 {
	font-size: 10pt;
}
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
p {
	font-family: var(--text-font);
	font-size: var(--font-sm);
	margin: 1.5% auto;
}
a,
a:visited {
	color: var(--highlight);
	text-decoration: none;
	border-bottom: var(--border-med) solid var(--tertiary);
	font-family: var(--text-font);
	font-size: inherit;
	margin: auto;
}
a:hover {
	border-bottom: var(--border-med) solid var(--highlight);
}
i,
em {
	font-size: inherit;
}
strong,
b {
	font-family: var(--heading-font);
	font-weight: 800;
	font-size: 110%;
}
small {
	font-size: 75%;
}
kbd {
	border: var(--border-sm) solid var(--secondary);
	padding: 1px 5px;
	font-family: var(--text-font);
}
code {
	max-width: 100%;
	padding: 2px 6px;
	margin: auto;
	background-color: var(--tertiary);
	color: var(--highlight);
	font-family: var(--text-font);
}
hr {
	border: 0;
	border-top: var(--border-med) solid var(--tertiary);
	width: 75%;
	margin: 4% auto;
}
table {
	border-collapse: collapse;
	width: 100%;
	border-bottom: var(--border-med) solid var(--tertiary);
	padding: 3px 10px;
	margin: 3% auto;
	text-align: center;
	font-family: var(--text-font);
}
td,
th {
	padding: 8px;
	text-align: left;
}
th {
	background: var(--primary);
	position: sticky;
	top: 0;
	z-index: 2;
	padding: 3px;
	border-bottom: var(--border-lg) solid var(--tertiary);
	font-size: var(--font-lg);
}
tr:nth-child(even) {
	background-color: var(--tertiary);
}
img {
	max-width: 90%;
	height: auto;
	margin: 1.5% auto;
}
iframe {
	width: 100%;
	height: auto;
	margin: 1.5% auto;
	border: none;
}
nav {
	margin: 2% auto 2% 0;
	padding: 3px 3px 3px 0;
	width: 100%;
}
nav a,
nav a:visited {
	color: var(--secondary) !important;
	font-family: var(--text-font);
	font-size: var(--font-med);
	margin: 0.5% 2% 0.5% 0%;
	padding: 1px;
	width: auto;
	opacity: 0.7;
	border: none;
}
nav a:hover {
	opacity: 1;
	border: none;
	color: var(--highlight) !important;
	text-decoration: none;
}
form {
	width: 100%;
}
button,
input,
textarea,
select,
input[type="button"],
input[type="submit"] {
	display: block;
	padding: 7.5px 10px;
	margin: 2% 0;
	background: var(--tertiary);
	outline: none;
	border: none;
	font-size: var(--font-sm);
	font-family: var(--text-font);
	font-weight: bold;
	color: var(--secondary);
}
select {
	padding: 6px 0;
	border: none;
	border-bottom: var(--border-med) solid var(--tertiary);
}
select * {
	color: var(--secondary);
	background-color: var(--primary);
}
textarea {
	min-width: 100%;
	resize: vertical;
	min-height: 36px;
	margin: 2% 0;
	opacity: 0.7;
	transition: var(--transition-duration) linear;
}
label {
	font-family: var(--text-font);
}
input[type="radio"],
input[type="checkbox"] {
	background: var(--tertiary);
	padding: 3px;
	display: inline-block;
	margin: 0.5%;
}
input[type="image"] {
	max-width: 25%;
}
textarea:hover,
textarea:focus {
	opacity: 1;
}
button:hover,
button:focus,
input:hover,
input:focus {
	background-color: var(--highlight);
	color: var(--tertiary);
}
button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	cursor: pointer;
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
	transform: translateY(var(--border-lg));
}
input[type="number"] {
	border-bottom: var(--border-med) solid transparent;
}
input[type="number"]:hover,
input[type="number"]:focus {
	background-color: var(--tertiary);
	color: var(--secondary);
	border-bottom: var(--border-med) solid var(--highlight);
}
input:invalid {
	border: none;
	background: crimson;
	color: #fafafa;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	box-shadow: 0 0 0 1px var(--highlight);
}
blockquote,
q {
	border-left: var(--border-lg) solid var(--tertiary);
	margin: 3% 5%;
	padding: 5px 15px;
	width: 100%;
	font-size: var(--font-sm);
	font-family: var(--text-font);
}
cite::before {
	content: "- ";
}
cite {
	padding: 4px 0 4px 8px;
	margin: auto;
	display: block;
}
ol,
ul {
	margin: auto;
}
li {
	font-family: var(--text-font);
}
ul li {
	margin: 1%;
}
ol li {
	margin: 1% 2.5%;
}
:disabled {
	opacity: 0.7;
}
::-webkit-input-placeholder {
	color: var(--secondary);
}
::placeholder {
	color: var(--secondary);
	opacity: 0.7;
}
::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
::-webkit-scrollbar-track {
	background: var(--primary);
}
::-webkit-scrollbar-thumb {
	background: var(--tertiary);
}
::-moz-selection {
	background-color: var(--highlight);
	color: var(--primary);
}
::selection {
	background-color: var(--highlight);
	color: var(--primary);
}
