@import url('./modules/form.css');
@import url('./modules/layout.css');
@import url('./modules/media.css');
@import url('./modules/table.css');
@import url('./modules/type.css');

:root {
  --highlight: #cb4b16;

  --primary: #002b36;
  --secondary: #eee8d5;
  --tertiary: #93a1a1;

  --border-lg: 3px;
  --border-med: 2px;
  --border-sm: 1px;

  --text-font: monospace;
  --heading-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --transition-type: cubic-bezier(0.165, 0.84, 0.44, 1);
  --primary-transition-duration: 0.5s;
  --secondary-transition-duration: 0.25s;
}
HTML {
  scroll-behavior: smooth;
}
Body {
  max-width: 900px;
  margin: 0.5% auto;
  padding: 0 10px;
  font-display: auto;
  line-height: 1.4;
  background: var(--primary);
  color: var(--secondary);
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
  margin: 1% auto;
}
::-webkit-input-placeholder { color: var(--secondary) }
::-ms-input-placeholder { color: var(--secondary) }
::placeholder {
  color: var(--secondary);
  opacity: 0.7;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track { background: var(--primary) }
::-webkit-scrollbar-thumb { background: var(--tertiary) }
::-webkit-scrollbar-thumb:hover { background: var(--tertiary) }
::-moz-selection {
  background-color: var(--tertiary);
  color: var(--primary);
}
::selection {
  background-color: var(--tertiary);
  color: var(--primary);
}