@import url('./modules/form.css');
@import url('./modules/layout.css');
@import url('./modules/media.css');
@import url('./modules/table.css');
@import url('./modules/type.css');

:root {
  --highlight: mediumspringgreen;

  --primary-dark: #181818;
  --primary-light: #fafafa;
  --secondary-light: #93a1a1;

  --border-lg: 3px;
  --border-med: 2px;
  --border-sm: 1px;

  --primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --secondary-font: Arial, Helvetica, sans-serif;

  --transition-type: cubic-bezier(0.165, 0.84, 0.44, 1);
  --primary-transition-duration: 0.5s;
  --secondary-transition-duration: 0.25s;
}
HTML {
  scroll-behavior: smooth;
}
Body {
  max-width: 900px;
  margin: 0.5% auto;
  padding: 0 10px;
  font-display: auto;
  line-height: 1.4;
  background: var(--primary-dark);
  color: var(--primary-light);
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
  margin: 1% auto;
}
::-webkit-input-placeholder { color: var(--primary-light) }
::-ms-input-placeholder { color: var(--primary-light) }
::placeholder {
  color: var(--primary-light);
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track { background: var(--primary-dark) }
::-webkit-scrollbar-thumb { background: var(--secondary-light) }
::-webkit-scrollbar-thumb:hover { background: var(--secondary-light) }
::-moz-selection {
  background-color: var(--secondary-light);
  color: var(--primary-dark);
}
::selection {
  background-color: var(--secondary-light);
  color: var(--primary-dark);
}