body {
    margin: 0 auto;
    padding: 10px;
    background: #212121;
    color: #b9bec5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    max-width: 900px;
    overflow-x: hidden;
}
* {
    transition: cubic-bezier(0.54, 0.39, 0.37, 0.98) 150ms;
}
nav a {
    margin: auto 2% auto 0;
}
a,
a:visited {
    color: #16c581;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.75% auto 1.5% auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
p {
    font-size: var(--font-sm);
    margin: 1.5% auto;
}
i,
em {
    font-size: inherit;
}
strong,
b {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 110%;
}
small {
    font-size: 75%;
}
kbd {
    border: 1px solid #b9bec5;
    padding: 1px 5px;
    font-family: "Consolas", monospace;
}
code {
    max-width: 100%;
    padding: 2px 6px;
    margin: auto;
    background-color: #404040;
    color: #16c581;
    font-weight: 600;
    font-family: "Consolas", monospace;
}
hr {
    border: 0;
    border-top: 2px solid #404040;
    width: 75%;
    margin: 4% auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid #404040;
    padding: 3px 10px;
    margin: 3% auto;
    text-align: center;
}
td,
th {
    padding: 8px;
    text-align: left;
}
th {
    background: #212121;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 5px;
    border-top: 3px solid #404040;
    font-size: var(--font-lg);
}
tr:nth-child(odd) {
    background-color: #404040;
}
img {
    max-width: 90%;
    height: auto;
    margin: 1.5% auto;
}
iframe {
    width: 100%;
    height: auto;
    margin: 1.5% auto;
    border: none;
}
form {
    width: 100%;
}
button,
input,
textarea,
select,
input[type="button"],
input[type="submit"] {
    display: block;
    padding: 0.25rem 0.5rem;
    margin: 2% 0;
    background: #404040;
    outline: none;
    border: none;
    font-size: var(--font-sm);
    font-weight: bold;
    font-family: "Consolas", monospace;
    color: #b9bec5;
}
select {
    padding: 6px;
    border: 2px solid transparent;
}
select * {
    color: #b9bec5;
    background-color: #212121;
}
select:hover,
select:focus {
    border: 2px solid #16c581;
}
textarea {
    min-width: 90%;
    resize: vertical;
    min-height: 36px;
    margin: 2% 0;
    opacity: 0.7;
    transition-property: opacity;
}
input[type="radio"],
input[type="checkbox"] {
    background: #404040;
    padding: 3px;
    display: inline-block;
    margin: 0.5%;
}
* > input[type="checkbox"] {
    margin: 0;
    padding: 10px;
    font-size: 14pt;
    width: 2px;
    height: 2px;
    position: relative;
    color: #404040;
    background-color: #404040;
    box-sizing: content-box;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}
* > input[type="checkbox"]:checked {
    background-color: #16c581;
}
* > input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(25%, -10%);
}
input[type="image"] {
    max-width: 25%;
}
textarea:hover,
textarea:focus {
    opacity: 1;
}
button:hover,
button:focus,
input:hover,
input:focus {
    background-color: #16c581;
    color: #404040;
}
button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    transform: translateY(3px);
}
input[type="number"] {
    border-bottom: 2px solid transparent;
}
input[type="number"]:hover,
input[type="number"]:focus {
    background-color: #404040;
    color: #b9bec5;
    border-bottom: 2px solid #16c581;
}
input:invalid {
    border: none;
    background: crimson;
    color: #212121;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    box-shadow: 0 0 0 1px #16c581;
}
blockquote,
q {
    border-left: 3px solid #404040;
    margin: 3% 5%;
    padding: 5px 15px;
    width: 90%;
    font-size: var(--font-sm);
}
cite::before {
    content: "- ";
}
cite {
    padding: 4px 0 4px 8px;
    margin: auto;
    display: block;
}
ol,
ul {
    margin: auto;
}
ul li {
    margin: 1%;
}
ol li {
    margin: 1% 2.5%;
}
:disabled {
    opacity: 0.7;
}
::-webkit-input-placeholder {
    color: #b9bec5;
}
::placeholder {
    color: #b9bec5;
    opacity: 0.7;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #212121;
}
::-webkit-scrollbar-thumb {
    background: #404040;
}
::-moz-selection {
    background-color: #16c581;
    color: #212121;
}
::selection {
    background-color: #16c581;
    color: #212121;
}
