:root {
    --highlight: #16c581;

    --primary: #212121;
    --secondary: #b9bec5;
    --tertiary: #404040;

    --border-lg: 3px;
    --border-med: 2px;
    --border-sm: 1px;

    --font-lg: 16pt;
    --font-med: 14pt;
    --font-sm: 12pt;

    --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --text-font: "Consolas", monospace;

    --transition-type: cubic-bezier(0.54, 0.39, 0.37, 0.98);
    --transition-duration: 150ms;
}
body {
    margin: 0 auto;
    padding: 10px;
    background: var(--primary);
    color: var(--secondary);
    font-family: var(--font);
    max-width: 900px;
    overflow-x: hidden;
}
* {
    transition: var(--transition-type) var(--transition-duration);
}
nav a {
    margin: auto 2% auto 0;
}
a,
a:visited {
    color: var(--highlight);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.75% auto 1.5% auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
p {
    font-size: var(--font-sm);
    margin: 1.5% auto;
}
i,
em {
    font-size: inherit;
}
strong,
b {
    font-family: var(--font);
    font-weight: 800;
    font-size: 110%;
}
small {
    font-size: 75%;
}
kbd {
    border: var(--border-sm) solid var(--secondary);
    padding: 1px 5px;
    font-family: var(--text-font);
}
code {
    max-width: 100%;
    padding: 2px 6px;
    margin: auto;
    background-color: var(--tertiary);
    color: var(--highlight);
    font-weight: 600;
    font-family: var(--text-font);
}
hr {
    border: 0;
    border-top: var(--border-med) solid var(--tertiary);
    width: 75%;
    margin: 4% auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: var(--border-med) solid var(--tertiary);
    padding: 3px 10px;
    margin: 3% auto;
    text-align: center;
}
td,
th {
    padding: 8px;
    text-align: left;
}
th {
    background: var(--primary);
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 3px;
    border-bottom: var(--border-lg) solid var(--tertiary);
    font-size: var(--font-lg);
}
tr:nth-child(even) {
    background-color: var(--tertiary);
}
img {
    max-width: 90%;
    height: auto;
    margin: 1.5% auto;
}
iframe {
    width: 100%;
    height: auto;
    margin: 1.5% auto;
    border: none;
}
form {
    width: 100%;
}
button,
input,
textarea,
select,
input[type="button"],
input[type="submit"] {
    display: block;
    padding: 0.25rem 0.5rem;
    margin: 2% 0;
    background: var(--tertiary);
    outline: none;
    border: none;
    font-size: var(--font-sm);
    font-weight: bold;
    font-family: var(--text-font);
    color: var(--secondary);
}
select {
    padding: 6px;
    border: 2px solid transparent;
}
select * {
    color: var(--secondary);
    background-color: var(--primary);
}
select:hover,
select:focus {
    border: 2px solid var(--highlight);
}
textarea {
    min-width: 90%;
    resize: vertical;
    min-height: 36px;
    margin: 2% 0;
    opacity: 0.7;
    transition-property: opacity;
}
input[type="radio"],
input[type="checkbox"] {
    background: var(--tertiary);
    padding: 3px;
    display: inline-block;
    margin: 0.5%;
}
input[type="image"] {
    max-width: 25%;
}
textarea:hover,
textarea:focus {
    opacity: 1;
}
button:hover,
button:focus,
input:hover,
input:focus {
    background-color: var(--highlight);
    color: var(--tertiary);
}
button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    cursor: pointer;
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    transform: translateY(var(--border-lg));
}
input[type="number"] {
    border-bottom: var(--border-med) solid transparent;
}
input[type="number"]:hover,
input[type="number"]:focus {
    background-color: var(--tertiary);
    color: var(--secondary);
    border-bottom: var(--border-med) solid var(--highlight);
}
input:invalid {
    border: none;
    background: crimson;
    color: #fafafa;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    box-shadow: 0 0 0 1px var(--highlight);
}
blockquote,
q {
    border-left: var(--border-lg) solid var(--tertiary);
    margin: 3% 5%;
    padding: 5px 15px;
    width: 90%;
    font-size: var(--font-sm);
}
cite::before {
    content: "- ";
}
cite {
    padding: 4px 0 4px 8px;
    margin: auto;
    display: block;
}
ol,
ul {
    margin: auto;
}
ul li {
    margin: 1%;
}
ol li {
    margin: 1% 2.5%;
}
:disabled {
    opacity: 0.7;
}
::-webkit-input-placeholder {
    color: var(--secondary);
}
::placeholder {
    color: var(--secondary);
    opacity: 0.7;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--primary);
}
::-webkit-scrollbar-thumb {
    background: var(--tertiary);
}
::-moz-selection {
    background-color: var(--highlight);
    color: var(--primary);
}
::selection {
    background-color: var(--highlight);
    color: var(--primary);
}
