HTML {
	scroll-behavior: smooth;
	border-top: 2px solid #cb4b16;
	margin: 0;
}
Body {
	max-width: 1000px;
	margin: 0.5% auto;
	padding: 0 10px;
	font-display: auto;
	font-weight: 600;
	line-height: 1.4;
	background: #002b36;
	background-image: radial-gradient(#073642 1px, transparent 0);
	background-size: 35px 35px;
	color: #eee8d5;
	text-rendering: optimizeLegibility;
}
* {
	transition: 0.2s cubic-bezier(0.54, 0.39, 0.37, 0.98);
	box-sizing: border-box;
	margin: 1% auto;
}
h1 {
	font-weight: 500;
	font-size: 28pt;
}
h2 {
	font-size: 22pt;
}
h3 {
	font-size: 18pt;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin: 0.75% auto 1.5% auto;
}
h4 {
	font-size: 14pt;
}
h5 {
	font-size: 10pt;
}
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}
p {
	font-family: "Consolas", monospace;
	font-size: 12pt;
	margin: 1.5% auto;
}
a,
a:visited {
	color: #cb4b16;
	text-decoration: none;
	border-bottom: 2px solid #073642;
	font-family: "Consolas", monospace;
	font-size: inherit;
	margin: auto;
}
a:hover {
	border-bottom: 2px solid #cb4b16;
}
i,
em {
	font-size: inherit;
}
strong,
b {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 800;
	font-size: 110%;
}
small {
	font-size: 75%;
}
kbd {
	border: 1px solid #eee8d5;
	padding: 1px 5px;
	font-family: "Consolas", monospace;
}
code {
	max-width: 100%;
	padding: 2px 6px;
	margin: auto;
	background-color: #073642;
	color: #cb4b16;
	font-family: "Consolas", monospace;
}
hr {
	border: 0;
	border-top: 2px solid #073642;
	width: 75%;
	margin: 4% auto;
}
table {
	border-collapse: collapse;
	width: 100%;
	border-bottom: 2px solid #073642;
	padding: 3px 10px;
	margin: 3% auto;
	text-align: center;
	font-family: "Consolas", monospace;
}
td,
th {
	padding: 8px;
	text-align: left;
}
th {
	background: #002b36;
	position: sticky;
	top: 0;
	z-index: 2;
	padding: 3px;
	border-bottom: 3px solid #073642;
	font-size: 16pt;
}
tr:nth-child(even) {
	background-color: #073642;
}
img {
	max-width: 90%;
	height: auto;
	margin: 1.5% auto;
}
iframe {
	width: 100%;
	height: auto;
	margin: 1.5% auto;
	border: none;
}
nav {
	margin: 2% auto 2% 0;
	padding: 3px 3px 3px 0;
	width: 100%;
}
nav a,
nav a:visited {
	color: #eee8d5 !important;
	font-family: "Consolas", monospace;
	font-size: 14pt;
	margin: 0.5% 2% 0.5% 0%;
	padding: 1px;
	width: auto;
	opacity: 0.7;
	border: none;
}
nav a:hover {
	opacity: 1;
	border: none;
	color: #cb4b16 !important;
	text-decoration: none;
}
form {
	width: 100%;
}
button,
input,
textarea,
select,
input[type="button"],
input[type="submit"] {
	display: block;
	padding: 7.5px 10px;
	margin: 2% 0;
	background: #073642;
	outline: none;
	border: none;
	font-size: 12pt;
	font-family: "Consolas", monospace;
	font-weight: bold;
	color: #eee8d5;
}
select {
	padding: 6px 0;
	border: none;
	border-bottom: 2px solid #073642;
}
select * {
	color: #eee8d5;
	background-color: #002b36;
}
textarea {
	min-width: 100%;
	resize: vertical;
	min-height: 36px;
	margin: 2% 0;
	opacity: 0.7;
	transition: 0.2s linear;
}
label {
	font-family: "Consolas", monospace;
}
input[type="radio"],
input[type="checkbox"] {
	background: #073642;
	padding: 3px;
	display: inline-block;
	margin: 0.5%;
}
input[type="image"] {
	max-width: 25%;
}
textarea:hover,
textarea:focus {
	opacity: 1;
}
button:hover,
button:focus,
input:hover,
input:focus {
	background-color: #cb4b16;
	color: #073642;
}
button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	cursor: pointer;
}
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
	transform: translateY(3px);
}
input[type="number"] {
	border-bottom: 2px solid transparent;
}
input[type="number"]:hover,
input[type="number"]:focus {
	background-color: #073642;
	color: #eee8d5;
	border-bottom: 2px solid #cb4b16;
}
input:invalid {
	border: none;
	background: crimson;
	color: #fafafa;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	box-shadow: 0 0 0 1px #cb4b16;
}
blockquote,
q {
	border-left: 3px solid #073642;
	margin: 3% 5%;
	padding: 5px 15px;
	width: 100%;
	font-size: 12pt;
	font-family: "Consolas", monospace;
}
cite::before {
	content: "- ";
}
cite {
	padding: 4px 0 4px 8px;
	margin: auto;
	display: block;
}
ol,
ul {
	margin: auto;
}
li {
	font-family: "Consolas", monospace;
}
ul li {
	margin: 1%;
}
ol li {
	margin: 1% 2.5%;
}
:disabled {
	opacity: 0.7;
}
::-webkit-input-placeholder {
	color: #eee8d5;
}
::placeholder {
	color: #eee8d5;
	opacity: 0.7;
}
::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #002b36;
}
::-webkit-scrollbar-thumb {
	background: #073642;
}
::-moz-selection {
	background-color: #cb4b16;
	color: #002b36;
}
::selection {
	background-color: #cb4b16;
	color: #002b36;
}
