:root {
  --highlight: #cb4b16;

  --primary: #002b36;
  --secondary: #eee8d5;
  --tertiary: #93a1a1;

  --border-lg: 3px;
  --border-med: 2px;
  --border-sm: 1px;

  --text-font: monospace;
  --heading-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --transition-type: cubic-bezier(.54,.39,.37,.98);
  --transition-duration: 0.25s;
}
HTML { scroll-behavior: smooth }
Body {
  max-width: 900px;
  margin: 0.5% auto;
  padding: 0 10px;
  font-display: auto;
  line-height: 1.4;
  background: var(--primary);
  color: var(--secondary);
  text-rendering: optimizeLegibility;
}
* {
  box-sizing: border-box;
  margin: 1% auto;
}
h1 {
  font-weight: 500;
  font-size: 28pt;
}
h2 { font-size: 22pt }
h3 { font-size: 18pt }
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  margin: 0.75% auto 1.5% auto;
}
h4 { font-size: 14pt }
h5 { font-size: 10pt }
h2, h3, h4, h5, h6 { font-weight: normal }
p {
  font-family: var(--text-font);
  font-size: 12pt;
  margin: 1.5% auto;
}
a {
  color: var(--highlight);
  text-decoration: none;
  border-bottom: var(--border-med) solid transparent;
  font-family: var(--text-font);
  font-size: inherit;
  margin: auto;
}
a:hover {
  border-bottom: var(--border-med) solid var(--highlight);
  transition: var(--transition-duration) var(--transition-type);
}
a:not(:hover) {transition: var(--transition-duration) var(--transition-type)}
i, em { font-size: inherit }
strong, b {
  font-weight: bolder;
  margin: 0;
}
small, sub, sup {
  font-size: 75%;
  font-weight: normal;
  margin: 0;
}
kbd {
  border: var(--border-sm) solid var(--secondary);
  padding: 1px 5px;
}
code {
  max-width: 100%;
  padding: 4px;
  margin: auto;
  background-color: var(--secondary);
  color: var(--highlight);
}
hr {
  border: 0;
  border-top: var(--border-med) solid var(--tertiary);
  width: 75%;
  margin: 4% auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: var(--border-med) solid var(--tertiary);  
  padding: 3px 10px;
  margin: 3% auto;
  text-align: center;
}
td, th {
  padding: 8px;
  text-align: left;
}
th {
  border-bottom: var(--border-med) solid var(--tertiary);
  font-size: 125%;
}
tr:nth-child(even) {
  background-color: var(--tertiary);
  color: var(--primary);
}
img {
  max-width: 90%;
  height: auto;
  margin: 1.5% auto;
}
iframe {
  width: 100%;
  height: auto;
  margin: 1.5% auto;
  border: none;
}
nav {
  display: flex;
  justify-content: center;
  font-family: var(--heading-font);
  text-align: center;
  font-size: 150%;
  margin: 2% auto;
  padding: 3px;
  width: 100%;
}
nav a {
  color: var(--secondary);
  font-family: var(--heading-font);
  margin: 0.5% 2%;
  padding: 1px;
  width: auto;
  opacity: 0.7;
  border-bottom: var(--border-lg) solid transparent;
}
nav a:hover {
  opacity: 1;
  border: none;
  text-decoration: none;
  transition: var(--transition-duration) var(--transition-type);
}
nav a:not(:hover) {
  border: none;
  transition: var(--transition-duration) var(--transition-type)
}
nav a:after {
  display: block;
  border-bottom: var(--border-lg) solid var(--highlight);
  transform: scaleX(0);
  transition: var(--transition-duration) var(--transition-type);
  transform-origin: 50% 50%;
  content: '';
}
nav a:hover:after { transform: scaleX(1) }
form { width: 100% }
button, input, textarea, select, input[type='button'], input[type='submit'] {
  display: block;
  padding: 6px 8px;
  margin: 2% 0;
  background: transparent;
  border: var(--border-med) solid var(--tertiary);
  border-radius: 0;
  outline: none;
  font-size: 100%;
  font-family: var(--text-font);
  color: var(--secondary);
}
input {
  padding: 6px 0;
  border: none;
  border-bottom: var(--border-med) solid var(--tertiary);
}
select {
  padding: 6px 0;
  border: none;
  border-bottom: var(--border-med) solid var(--tertiary)
}
select * {
  color: var(--primary);
  background-color: var(--secondary); 
}
textarea {
  min-width: 100%;
  resize: vertical;
  min-height: 6.5vh;
  margin: 2% 0;
}
label { font-family: var(--text-font) }
input[type='radio'],input[type='checkbox'] {
  display: inline-block;
  margin: 0.5%;
}
input[type='image'] { max-width: 25% }
textarea:hover, textarea:focus, input[type='button']:hover, input[type='button']:focus, input[type='submit']:hover, input[type='submit']:focus {
  border: var(--border-med) solid var(--highlight);
  transition: var(--transition-duration) var(--transition-type);
}
input:hover, input:focus {
  border-bottom: var(--border-med) solid var(--highlight);
  transition: var(--transition-duration) var(--transition-type);
}
button:hover, button:focus, input[type='button']:hover, input[type='button']:focus, input[type='submit']:hover, input[type='submit']:focus, input[type='reset']:hover, input[type='reset']:focus {
  border: var(--border-med) solid var(--tertiary);
  background-color: var(--tertiary);
  color: var(--primary);
  transition: var(--transition-duration) var(--transition-type);
}
button:focus, input[type='button']:focus, input[type='submit']:focus, input[type='reset']:focus { transform: translateY(var(--border-lg)) }
input:not(:hover), input:not(:focus), button:not(:hover), button:not(:focus), textarea:not(:hover), textarea:not(:focus) { transition: var(--transition-duration) var(--transition-type) }
input[type='radio']:focus, input[type='checkbox']:focus { box-shadow: 0 0 0 1px var(--highlight) }
blockquote, q {
  border-left: var(--border-lg) solid var(--tertiary);
  margin: 3% auto;
  padding: 5px 15px;
  width: 100%;
  font-family: var(--text-font);
}
cite::before { content: '- ' }
cite {
  padding: 4px 0 4px 8px;
  margin: auto;
  display: block;
}
ol, ul {
  font-size: 120%;
  margin: auto;
}
li {
  font-family: var(--text-font);
}
ul li { margin: 1% }
ol li { margin: 1% 2.5% }
::-webkit-input-placeholder { color: var(--secondary) }
::-ms-input-placeholder { color: var(--secondary) }
::placeholder {
  color: var(--secondary);
  opacity: 0.7;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track { background: var(--primary) }
::-webkit-scrollbar-thumb { background: var(--tertiary) }
::-webkit-scrollbar-thumb:hover { background: var(--tertiary) }
::-moz-selection {
  background-color: var(--tertiary);
  color: var(--primary);
}
::selection {
  background-color: var(--tertiary);
  color: var(--primary);
}