table {
  border-collapse: collapse;
  width: 100%;
  border-bottom: var(--border-med) solid var(--secondary-light);  
  padding: 3px 10px;
  margin: 3% auto;
  text-align: center;
}
td, th {
  padding: 8px;
  text-align: left;
}
th {
  border-bottom: var(--border-med) solid var(--secondary-light);
  font-size: 125%;
}
tr:nth-child(even) {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}