form { width: 100% }
button, input, textarea, select {
  display: block;
  padding: 8px;
  margin: 2% 0;
  background: transparent;
  border: var(--border-med) solid var(--secondary-dark);
  border-radius: 0;
  outline: none;
  font-size: 100%;
  font-family: var(--primary-font);
  color: var(--primary-dark);
}
textarea {
  min-width: 100%;
  resize: vertical;
  min-height: 6.5vh;
  margin: 2% 0;
}
label { font-family: var(--primary-font) }
input[type='radio'],input[type='checkbox'] {
  display: inline-block;
  margin: 0.5%;
}
input[type='image'] { max-width: 25% }
textarea:hover, textarea:focus, input:hover, input:focus {
  border: var(--border-med) solid var(--highlight);
  transition: var(--secondary-transition-duration) var(--transition-type);
}
button:hover, button:focus, input[type='button']:hover, input[type='button']:focus, input[type='submit']:hover, input[type='submit']:focus, input[type='reset']:hover, input[type='reset']:focus {
  border: var(--border-med) solid var(--secondary-dark);
  background-color: var(--secondary-dark);
  color: var(--primary-light);
  transition: var(--secondary-transition-duration) var(--transition-type);
}
button:focus, input[type='button']:focus, input[type='submit']:focus, input[type='reset']:focus { transform: translateY(var(--border-lg)) }
input:not(:hover), input:not(:focus), button:not(:hover), button:not(:focus), textarea:not(:hover), textarea:not(:focus) {
  transition: var(--secondary-transition-duration) var(--transition-type);
}
input[type='radio']:focus, input[type='checkbox']:focus { box-shadow: 0 0 0 1px var(--highlight) }